<!doctype html>
<!--
Website By Miradontsoa / MiVFX
http://twitter.com/miradontsoa
http://miradontsoa.com
-->

<html class="no-js" lang="en">

<head>
  {{! header meta , title }} {{> header_meta }} {{! stylesheet}} {{> styles }}

  <!-- add alt layout here -->
  {{#if (available style.css)}}
  <link rel="stylesheet" href="./css/{{style.css}}.css">{{/if}}

  <script src="./js/vendor/modernizr-2.7.1.min.js"></script>
</head>

<body id="menu" class="body-page">
  <!--[if lt IE 8]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
  {{!--
  <div class="cursor-ball"></div>--}}

  <!-- Page Loader : just comment these lines to remove it -->
  <div class="page-loader" id="page-loader">
    <div>
      <div class="icon ion-spin"></div>
      <p>loading</p>
    </div>
  </div>

  {{! Header of the page }} {{!-- {{> page_header logo="img/logo.png" activeMenu="home"
  }} --}} {{> page_header_drawer logo=style.logo activeMenu="home" }} {{! Background
  cover of the page }}
  <!-- BEGIN OF page cover -->
  <div class="page-cover">
    {{!-- {{#if (available style.bgImage)}}
    <!-- Cover Background -->
    <div class="cover-bg bg-img" data-image-src="{{style.bgImage}}"></div>
    {{/if}} --}} {{!-- {{#if (available style.bgColor)}}
    <!-- Transluscent mask as filter -->
    <div class="cover-bg-mask bg-color" data-bgcolor="{{style.bgColor}}"></div>
    {{/if}} --}} {{!--
    <!-- Gradient mask -->
    <div class="cover-bg-mask bg-gradient-landscape opacity-5"></div>--}} {{!-- {{#if (available style.bgMask)}}
    <!-- Image mask layer -->
    <div class="cover-bg-mask bg-img" data-image-src="{{style.bgMask}}"></div>
    {{/if}} --}}
  </div>
  <!--END OF page cover -->

  {{! Main }} {{!--{{> main }}--}}
  <!-- BEGIN OF page main content -->
  <main class="page-main main-anim scrollpage-container {{style.mainClass}}" id="mainpage">

    {{! a section }} {{!-- {{> section_home_image sectionClass="main-home section-bottom"
    sectionName="home"}} --}} {{> section_home_divided sectionClass="main-home section-centered"
    sectionName="home"}} {{!-- {{> section_home_full sectionClass="main-home section-centered"
    sectionName="home"}} --}} {{> section_home_grid sectionClass="main-home section-centered"
    sectionName="home-grid"}} {{! a section }} {{> section_description_minimal sectionClass="fp-auto-height
    no-footer" sectionName="about-us" }} {{! a section cover}} {{> section_cover_image
    title="Cover" sectionClass="fp-auto-height no-footer" coverImg="./img/items/img-sample6.jpg"
    coverClass="cover-left" }} {{! a section }} {{> section_description_minimal_alt
    sectionClass="fp-auto-height no-footer" sectionName="about-us" }} {{! a section
    cover}} {{> section_cover_image title="Cover" sectionClass="fp-auto-height no-footer"
    coverImg="./img/items/img-sample7.jpg" coverClass="cover-right" }} {{! a section
    }} {{> section_list_services sectionClass="" sectionName="service" }} {{! a section
    cover}} {{> section_cover_image title="Cover" sectionClass="fp-auto-height no-footer"
    coverImg="./img/items/img-sample5.jpg" coverClass="cover-left" }} {{> section_list_team
    sectionClass="" sectionName="team" }} {{! a section cover}} {{> section_cover_image
    title="Projects" sectionClass="fp-auto-height no-footer" coverImg="./img/items/img-sample4.jpg"
    coverClass="cover-right" }} {{> section_slider_projects sectionClass="" sectionName="projects"
    }} {{! a section cover}} {{> section_cover_image title="Products" sectionClass="fp-auto-height
    no-footer" coverImg="./img/items/img-sample3.jpg" coverClass="cover-left" }}
    {{> section_slider_projects_beta sectionClass="" sectionName="projects" }} {{>
    section_list_products sectionClass="" sectionName="team" }} {{! a section cover}}
    {{!-- {{> section_cover_image title="Contact" sectionClass="fp-auto-height no-footer"
    coverImg="./img/items/img-sample1.jpg" coverClass="cover-right" }} --}} {{!--
    {{> section_title title="Contact" sectionClass="" sectionName="contact"}} --}}
    {{> section_register_card sectionClass="" sectionName="register"}} {{> section_contact
    sectionClass="" sectionName="contact-info"}} {{!--main page footer--}} {{!--
    {{> section_footer sectionClass="bg-black" sectionName="site-footer"}} --}}
  </main>
  <!-- END OF page main content -->

  {{! Footer }} {{> page_footer }} {{! scripts }} {{> scripts }}

</body>

</html>