.media-slide-item-gamma{
    position: relative;
    .media-image{
        z-index: 0;
        margin-bottom: 1rem;
        img{
            max-width: 160px;
            max-height: 64px;
            position: relative;
            @media screen and (min-width: $large-up){
                max-width: 240px;
            }
        }
    }
    .media-body{
        position: relative;
        $iconWidth: 2rem;
        h4{
            font-family: $sans;
            font-size: $text-size;
            font-family: $geo;
            padding-left: 1.25rem + $iconWidth;
            position: relative;
            // font-weight: 500;
            &::before{
                position: absolute;
                content: "";
                left: 0;
                top: 50%;
                width: $iconWidth;
                margin-top: -2px;
                border-bottom: 2px solid currentColor;
                transition: 0.3s;
            }
        }
    }
}

.media-slide-item-gamma{
    .text-anim{
        h4,h3,p{
            transform: translateY(64px);
            opacity: 0;
            transition: 0.6s;
        }
    }
}

.swiper-slide-active{
    .media-slide-item-gamma{
        .media-image{
            .img,
            img{
                transition-delay: 0.3s;
                transform: none;
                clip-path: polygon(0px 0px,100% 0px,100% 100%,0 100%);
            }
        }
        .text-anim{
            h4,h3,p,img{
                transform: none;
                opacity: 1;
            }
            $begin: 0.3s;
            $delta : 0.1s;
            p{
                transition-delay: $begin;
            }
            h3, h4{
                transition-delay: $begin + $delta;
            }
            // h3, h4{
            //     transition-delay: $begin + 2*$delta;
            // }
        }
    }
}
