/* media service */
.media-service{
    position: relative;
    display: block;
    color: currentColor;
    text-align: left;
    padding-right: 2rem;
    margin-bottom: 2rem;
    @media (min-width: $large-up) {
        margin-bottom: 0rem;
    }
    &:hover{
        color: currentColor;
        text-decoration: none;
    }
    h4{
        font-family: $geo;
        font-size: 2rem;
        // font-weight: 500;
        font-weight: 400;
    }
}
