/* Media tile */
.media-tile{
    position: relative;
    background: $black;
    margin: 16px;
    // margin: 24px;
    border-radius: 24px;
    overflow: hidden;
    perspective: 400px;
    &.diseabled{
        background: rgba(black,0.2);
    }
    .media-image{
        position: relative;
        z-index: 1;
        width: 100%;
        // display: flex;
        // height: 0px;
        padding-bottom: 100%;
        transition: 0.5s ease-in-out;
        .img,img{
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
        }
    }
    .media-header{
        z-index: 2;
        position: absolute;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 0.6s;
        transform: none;
        .icon{
            font-size: 4rem;
        }
    }
    .media-body{
        z-index: 0;
        position: absolute;
        transition: 0.6s;
        padding-left: 100%;
        transform: translateX(0%);
        height: 100%;
        display: flex;
        align-items: center;
        p{
            white-space: nowrap;
            font-size: 2rem;
            margin: 0;
        }
    }
    &:hover{
        .media-header{
            transform: translateX(-100%);
        }
        .media-image{
            transform: translateX(100%) rotateY(45deg);
        }
        .media-body{
            transition: 3s linear;
            transition-delay: 0.3s;
            transform: translateX(-100%);
        }
    }
}
