@font-face {
    font-family: 'Noto Sans';
    src: url('NotoSans-Regular-webfont.eot');
    src: url('NotoSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('NotoSans-Regular-webfont.woff2') format('woff2'),
         url('NotoSans-Regular-webfont.woff') format('woff'),
         url('NotoSans-Regular-webfont.ttf') format('truetype'),
         url('NotoSans-Regular-webfont.svg#noto_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'Noto Sans';
    src: url('NotoSans-Italic-webfont.eot');
    src: url('NotoSans-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('NotoSans-Italic-webfont.woff2') format('woff2'),
         url('NotoSans-Italic-webfont.woff') format('woff'),
         url('NotoSans-Italic-webfont.ttf') format('truetype'),
         url('NotoSans-Italic-webfont.svg#noto_sansitalic') format('svg');
    font-weight: normal;
    font-style: italic;

}


@font-face {
    font-family: 'Noto Sans';
    src: url('NotoSans-Bold-webfont.eot');
    src: url('NotoSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('NotoSans-Bold-webfont.woff2') format('woff2'),
         url('NotoSans-Bold-webfont.woff') format('woff'),
         url('NotoSans-Bold-webfont.ttf') format('truetype'),
         url('NotoSans-Bold-webfont.svg#noto_sansbold') format('svg');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'Noto Sans';
    src: url('NotoSans-BoldItalic-webfont.eot');
    src: url('NotoSans-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('NotoSans-BoldItalic-webfont.woff2') format('woff2'),
         url('NotoSans-BoldItalic-webfont.woff') format('woff'),
         url('NotoSans-BoldItalic-webfont.ttf') format('truetype'),
         url('NotoSans-BoldItalic-webfont.svg#noto_sansbold_italic') format('svg');
    font-weight: normal;
    font-style: italic;

}

