.btns-divided{
    position: relative;
    display: flex;
    width: 100%;
    .left-side{
        display: flex;
        justify-content: flex-end;
    }
    .right-side{
        display: flex;
        justify-content: flex-start;
    }
    .btn-divided{
        // margin-left: 0 !important;
        // margin-right: 0 !important;
        margin-left: 16px !important;
        margin-right: 16px !important;
    }
}
.btns-action .btns-divided .btn{
    width: 100%;
    @media screen and (min-width: $large-up){
        max-width: 320px;
    }
}
.btn-divided{
    display: flex;
    align-items: center;
    overflow: hidden;
    flex-direction: column;
    padding: 0.75rem 0rem;
    width: 100%;
    background: transparent;
    border: 1px solid currentColor;
    @media screen and (min-width: $large-up){
        border-left: none;
        border-right: none;
    }
    .b-title{
        font-family: $condensed;
        text-transform: uppercase;
        font-size: 1.25rem;
        font-weight: 300;
        line-height: 1;
        letter-spacing: 0.2em;
        padding-left: 0.2em;
        // margin-bottom: 4px;
        transition: 0.2s;
        transform: translateY(0.55em);
    }
    .b-subtitle{
        font-size: $text-small;
        transition: 0.2s;
        opacity: 0;
        transform: translateX(10%);
    }
    &.btn-left{
        @media screen and (min-width: $large-up){
            align-items: flex-end;
            .b-title{
                margin-right: -0.2em;
            }
        }
        // padding-right: 0;
        // border-right: 1px solid currentColor;
    }
    &.btn-right{
        // padding-left: 0;
        // border-left: 1px solid currentColor;
        .b-subtitle{
            transform: translateX(-10%);
        }
        @media screen and (min-width: $large-up){
            align-items: flex-start;
            .b-title{
                margin-left: -0.2em;
            }
        }
    }
    &:active,
    &:focus,
    &:hover{
        box-shadow: none;
        border-color: currentColor;
        background: transparent;
        // background: rgba($white,0.1);
        .b-title{
            transform: none;
            opacity: 1;
        }
        .b-subtitle{
            transform: none;
            opacity: 1;
            transition-delay: 0.1s;
        }
    }
}