.btn-icon{
    // padding-left: 8px;
    padding-right: 8px;
    margin-right: 8px;
    display: inline-block;
    color: currentColor;
    opacity: 0.5;
    transition: 0.3s;
    text-decoration: none;
    font-size: 32px;
    &:hover{
        color: currentColor;
        opacity: 1;
    }
}