
@import "variables";
.page-header-demo{
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    text-align: right;
    padding: 16px 16px;
    @media (min-width: $medium-up) {
        padding: 48px 64px;
    }
}

$color: #3d3d3d;
$color2: #eaeaea;
body{
    color: $color;
    background: #f5f6f8;
    font-size: 1.125rem;
    font-family: $sans;
}
.demo-main{
    margin-top: 160px;
}
.btn{
    padding: 0.75rem 1.5rem;
    cursor: pointer;
    min-height: 52px;
}
.btn-outline{
    color: $color;
    border: 1px solid rgba($color, 0.2);
    transition: 0.3s background-color;
    background: $white;
    line-height: 1.25;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 4px;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    &.white-bg:before{
        position: absolute;
        z-index: -1;
        content: "";
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: $white;
    }
    &.active,
    &:active {
        color: $color2;
        border-color: $color2;
        background-color: transparent;
    }
    &:hover,
    &:focus {
        background: $color;
        color: $white;
        border-color: $color;
        box-shadow: 0 0 3px rgba(black, 0.2) ,  0 0 5px rgba(black, 0.2);
    }
    &.disabled,
    &:disabled {
        color: $color;
        opacity: 0.7;
        background-color: transparent;
    }
    .text{
        height: 0.875em;
    }
    .icon .ion,
    .icon .fa{
    }
    .text, .icon{
        line-height: 1;
        position: relative;
    }
    >.icon + .text{
        margin-left: 0.75em;
    }
    >.text + .icon{
        margin-left: 0.75em;
    }
}

.section-wrapper{
    width: 100%;
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 16px;
    @media (min-width: $medium-up) {
        padding: 0 32px;
    }
}

.section-content-header{
    margin-top: 2rem;
    margin-bottom: 2rem;
    @media (min-width: $medium-up) {
        padding: 0px;
    }
    h2{
        font-size: 2.5rem;
    }
}
.display-title{
    font-size: 3rem !important;
}

.section{
    margin-top: 128px;
    margin-bottom: 128px;
}
.media-item{
    // text-align: center;
    display: block;
    transition: 0.2s;
    margin-bottom: 32px;
    text-align: center;
    img{
        width: 100%;
    }
    .media-body{
        padding-top: 16px;
        // background: $white;
        p{
            font-size: 1.125rem;
        }
        h4{
            font-size: 1.5rem;
        }
    }
    .media-image{
        transition: 0.2s;
        box-shadow: 0 0 1px rgba(0,0,0,0.17), 0px 2px 2px rgba(0,0,0,0.1);
    }
    a{
        color: currentColor;
        &:hover{
            text-decoration: none;
        }
    }
    &:hover{
        text-decoration: none;
        .media-image{
            box-shadow: 0 0 4px rgba(41, 67, 122, 0.17), 0px 4px 16px rgba(13, 83, 150, 0.445);
            // background: $white-gray;
        }
    }
}