
// transparent button with icon 
// default layout
// transparent button with icon
$iconWidth: 2rem;
.btn-transp {
    $color: currentColor;
    font-family: $geo;
    @include text-cap-subtitle;
    font-size: 1.125rem;
    border: none;
    border-radius: 4px;
    // background: #f4f;
    // padding-left: 0px;
    padding-right: 0px;
    background: none;
    position: relative;
    display: inline-block;
    min-height: 1em;
    padding-top: 0;
    padding-bottom: 0;
    .text{
        display: inline-block;
        transition: 0.3s;
    }
    &::before{
        position: absolute;
        content: "";
        left: 0;
        top: 50%;
        width: 0;
        margin-top: -2px;
        border-bottom: 2px solid currentColor;
        transition: 0.3s;
    }
    &.active,
    &:active,
    &:focus,
    &:hover {
        color: currentColor;
        // background: rgba(white,0.2);
        box-shadow: none;
        background: transparent;
        .text{
          opacity: 0.7;
        }
        &::before{
          opacity: 1;
          width: 16px;
        }
    }
}

// mixin
// transparent button with icon
@mixin button-line($color) {
    color: $color; // border: 1px solid $color;
}

// alternative layout
@each $color, $value in $theme-colors {
  @if $value == $white {
    .btn-line.btn-white {
      @include button-line($white);
    }
  } @else {
    .btn-line.btn-#{""+$color} {
      @include button-line($value);
    }
  }
}
