input[type=submit]{
    width: auto;
    min-width: auto;
    color: #ffffff;
    border: 1px solid rgba(255, 255, 255, 0.2);
    transition: 0.3s background-color;
    background: none;
    line-height: 1.2;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 8px;
    text-transform: uppercase;
    font-family: $geo;
    letter-spacing: 0.2em;
    font-size: 1rem;
    padding: 0.75rem 1.5rem;
}