.img-frame-normal{
    position: relative;
    img{
        width: 100%;
        height: auto;
    }
    $thickness: 8px;
    &.portrait{
        .img-1{
            max-width: 320px;
        }
    }
    img{
        width: 100%;
        position: relative;
        z-index: 1;
        transition: 0.2s;
        box-shadow: 0 0 0px rgba(0,0,0,0.1);
    }
    
    .legend{
        margin-top: 16px;
        position: relative;
        @media (min-width: $medium-up) {
            // position: absolute;
            width: 100%;
            &.pos-abs{
                position: absolute;
            }
        }
        @media (max-height: 480px) {
            &.pos-abs{
                position: relative;
            }
        }
        &.decor{
            $length: 48px;
            padding-top: $length;
            &:before{
                position: absolute;
                content: '';
                left: 50%;
                top: 0;
                height: $length - 8px;
                border-left: 2px solid rgba($white, 0.2);
                transition: 0.2s;
            }
        }
    }
    
    a{
        color: currentColor;
        text-decoration: none;
        &:hover{
            color: currentColor;
            img{
                background: $black;
                box-shadow: 0 5px 80px rgba(0,0,0,0.15);
            }
            .legend{
                &.decor::before{
                    border-color: $white;
                }
            }
        }
    }
}