/*-------------------
Sample CSS overwriting main.css rules

[Table of contents]
    0 General layout
    1. Typography
    2. page-header / .page-header
    3. sections / .section-home
    4. components /.media .form
[Colors]
    Black : #3d3d3d;
    Color level 1 : #f0f0f0;
    Color level 2 : #eaeaea;
    Color level 3 : #d0d0d0;
[Typography]
    font-family :
    - Geometric : "Glacial Indifference", "Montserrat"
    - Serif : "Serif, Playfair Display"
*/
/* 0 General layout */
/* 0 General layout */
/* 0.1 Body */
body,
.body-page {
  background-color: #ffffff;
  color: #3d3d3d; }

a {
  color: #f0f0f0; }
  a:hover {
    color: rgba(240, 240, 240, 0.8); }

.bg-level-1 {
  background-color: #f0f0f0 !important; }

.bg-level-2 {
  background-color: #eaeaea !important; }

.bg-level-3 {
  background-color: #d0d0d0 !important; }

/* 1. Typography */
/*-------------------
Sample CSS overwriting main.css rules

[Table of contents]
    1. Typography
[Typography]
    font-family :
    - Geometric : "Glacial Indifference", "Montserrat"
    - Serif : "Serif, Playfair Display"
*/
/* 1. Typography */
/* page header */
body {
  font-family: "Glacial Indifference", "Montserrat", "Open Sans", sans-serif; }

.page-header-alpha .navbar-mainmenu .nav-item {
  font-family: "Glacial Indifference", "Montserrat", "Open Sans", sans-serif; }

.section-title .title {
  font-family: "Glacial Indifference", "Montserrat", "Open Sans", sans-serif; }

/* title */
.display-title,
.section-home h1,
.section-home h2,
.media-service h4,
.section-content h2,
.section-content h3 {
  font-family: "Playfair Display", serif; }

.display-6 {
  font-family: "Playfair Display", serif; }

/* small text */
.page-header-alpha .navbar-topmenu .navbar-nav-menu .nav-item,
.scrolldown a,
.btn-outline-white,
.btn-outline-black,
.display-subtitle,
.display-condensed,
.btn-divided .b-title {
  font-family: "Glacial Indifference", "Montserrat", "Open Sans", sans-serif; }

.media-aside-text .media-body h4,
.media-slide-item-alpha .media-body h3,
.media-slide-item-beta .media-body h3 {
  font-family: "Playfair Display", serif; }

.page-header-drawer .navbar-mainmenu .mainmenu-content li,
.page-header-drawer .navbar-mainmenu .mainmenu-content .nav-item {
  font-family: "Playfair Display", serif; }

.media-slide-item-beta .media-body h4,
.media-slide-item-alpha .media-body h4 {
  font-family: "Glacial Indifference", "Montserrat", "Open Sans", sans-serif; }

/* 2. page-header / .page-header */
.page-header-drawer .navbar-sidebar .nav-item .icon {
  background: none;
  color: #1d1d1d; }

.menu-icon .text {
  color: #1d1d1d; }

.menu-icon .bars .bar1, .menu-icon .bars .bar2, .menu-icon .bars .bar3 {
  background: #1d1d1d; }

/* nav */
.page-header-alpha .navbar-mainmenu .nav-item a:hover {
  color: #f0f0f0; }

.page-header-drawer .navbar-mainmenu .mainmenu-content {
  background: #f0f0f0;
  background: url("../img/bg-white.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed; }
  @media (min-width: 1024px) {
    .page-header-drawer .navbar-mainmenu .mainmenu-content::after {
      display: none; } }

.page-header.content-white .menu-icon .text {
  color: #ffffff; }

.page-header.content-white .menu-icon .bars .bar1, .page-header.content-white .menu-icon .bars .bar2, .page-header.content-white .menu-icon .bars .bar3 {
  background: #ffffff; }

.page-header.content-black .menu-icon.menu-visible .text {
  color: #1d1d1d; }

.page-header.content-black .menu-icon.menu-visible .bars .bar1, .page-header.content-black .menu-icon.menu-visible .bars .bar2, .page-header.content-black .menu-icon.menu-visible .bars .bar3 {
  background: #1d1d1d; }

/* 3. sections */
.section-home .home-cover {
  background: url("../img/bg-white-mobile.jpg");
  background-size: cover;
  background-position: center;
  opacity: 0.6; }
  @media (min-width: 768px) {
    .section-home .home-cover {
      background: url("../img/bg-white.jpg");
      background-size: cover;
      background-position: center;
      background-attachment: fixed;
      opacity: 1; } }

/* 4. components */
/* media / .media- */
.media-tile {
  background: #f8f9fa;
  color: #ffffff; }
  .media-tile .media-body {
    color: #1d1d1d; }
  .media-tile.diseabled {
    background: #e1e1e1; }

/* Forms and buttons / .form-control- */
.form-control-outline,
.form-control-line {
  border-color: #1d1d1d; }
  .form-control-outline:focus,
  .form-control-line:focus {
    border-color: #5d5d5d; }

.form-control-line.form-control-white {
  border-color: #1d1d1d; }

.content-white .form-control-line.form-control-white {
  border-color: #ffffff; }

.form-group label.error,
.form-container-transparent.form-container-white .form-input label,
.form-container-transparent .form-input input.form-control-line {
  color: #1d1d1d; }

/* Buttons / .btn-*/
.btn-outline-white {
  color: currentColor;
  border-color: currentColor; }

.btn-divided {
  border-color: #f0f0f0; }
  .btn-divided .b-subtitle {
    color: #f0f0f0; }
