/* media card*/
.media-card{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 32px;
    .media-image{
        position: relative;
        width: 100%;
        // border-bottom: 4px solid currentColor;
        img{
            width: 100%;
            position: relative;
            z-index: 0;
            @include shadow-medium();
        }
        .media-image-header{
            position: absolute;
            width: 100%;
            z-index: 1;
            padding: 1rem 1.5rem;
            color: $white;
            background: linear-gradient(#{"to bottom"}, rgba(0,0,0,0.5), rgba(0,0,0,0) );
            h4,h5,h6,p{
                font-size: 1rem;
                text-shadow: 0px 0px 4px rgba(0,0,0,0.5);
            }
        }
    }
    .media-body{
        position: relative;
        width: 100%;
        margin-top: 32px;
        h4{
            font-family: $geo;
            font-size: 1.5rem;
            // font-weight: 500;
            font-weight: 400;
            @media screen and (min-width: $medium-up){
                font-size: 1.75rem;
            }
        }
    }
    &:hover{
        .media-img{
            .img-wrapper,
            a{
                &:after{
                    opacity: 1;
                    @include pos-size(0.75rem);
                }
            }
        }
    }
}