
/* media line */
.media-line{
    position: relative;
    .media-img{
        z-index: 0;
        @include pos-size(0rem);
        @include shadow-large;
        .img{
            position: absolute;
            width: 100%;
            height: 100%;
        }
    }
    .media-body{
        position: relative;
        padding: 1.5rem;
        @media (min-width: $large-up){
            padding: 48px 48px*3;
        }
    }
}