/* media service */
.media-feature{
    position: relative;
    display: block;
    color: currentColor;
    text-align: center;
    .img-icon{
        width: 80px;
        margin-bottom: 1rem;
    }
    &:hover{
        color: currentColor;
        text-decoration: none;
    }
    h4{
        font-family: $geo;
        font-size: 2rem;
        font-weight: 500;
        width: 100%;
    }
}
