// buttons
// additional UI, Views
.btn{
  padding: 0.75rem 1.5rem;
  cursor: pointer;
  min-height: 52px;
  line-height: 1.2;
  &.no-border{
    border: none;
  }
}
.btn-sm{
  padding: 0.25rem 0.75rem;
  cursor: pointer;
  font-size: 0.875rem;
  line-height: 1.5;
  min-height: 30px;
}
// reseter
// button:focus{
//   outline: none;
// }

.btn-round{
  // padding: 0.75rem 1.5rem;
  border-radius: 10rem;
}
.btn-rect{
  border-radius: 0;
}
// link button
.btn-link{

    &.active,
    &:active{

    }
    &.disabled,
    &:disabled{

    }
}

/* Slide nav buttons */

// slide control buttons
.fp-controlArrow{
  z-index: 10;
  top: auto;
  bottom: 32px;
  transition: 0.15s;
  @media (min-width: $large-up) {
    bottom: 48*2px;
  }
  &.fp-prev{
      left: 16px;
      border: 2px solid $white;
      width: 32px;
      height: 32px;
      transform: rotate(45deg) translateY(-50%);
      border-right: 0;
      border-top: 0;
      @media (min-width: $large-up) {
        width: 48px;
        height: 48px;
        left: 42px;
      }
  }
  &.fp-next{
      right: 16px;
      border: 2px solid $white;
      width: 32px;
      height: 32px;
      transform: rotate(-45deg) translateY(-50%);
      border-left: 0;
      border-top: 0;
      @media (min-width: $large-up) {
        width: 48px;
        height: 48px;
        right: 42px;
      }
  }
  &:hover{
      border-width: 8px;
  }
}

// standard buttons
@import "button/btn";
@import "button/btn-icon";
@import "button/btn-divided";
@import "button/btn-line";
@import "button/btn-outline";
@import "button/btn-submit";
@import "button/btn-circicon";
@import "button/btn-transp";
@import "button/btn-transp-arrow";

// icon buttons
@import "button/icon-btn";


