
// Menu icon visible only on small devices
.menu-icon{
	height: 48px;
	width: 48px;
	transition: 0.3s;
	display: inline-block;
	position: relative;
	// background: $white;
	opacity: 1;
	&:hover{
		opacity: 1;
		// border: 1px solid rgba($white,1);
	}
	&.menu-bg{
		background: $secondary;
	}
	// box-shadow: 0 0 30px rgba(0,0,0,0.2);
	@media (min-width: $medium-up) {
		background: none;
	}
	&:after{
		display: none;
	}
	.text{
		position: absolute;
		text-align: left;
		top: 0px;
		line-height: 1;
		right: 100%;
		padding-right: 16px;
		text-transform: uppercase;
		font-size: 1.125rem;
		color: $white;
		transition: 0.3s;
		font-family: $geo;
		letter-spacing: 0.2em;
		&.hide-menu-visible{
			visibility: visible;
			opacity: 1;
		}
		&.show-menu-visible{
			visibility: hidden;
			opacity: 0;
		}
		
	}
	.bars{
		display: block;
		margin: auto;
		margin-top: 1px;
		width: 24px;
		transition: 0.3s;
		.bar1,
		.bar2,
		.bar3{
			display: block;
			content: "";
			height: 2px;
			width: 100%;
			margin-bottom: 4px;
			-webkit-transition: 0.3s;
			transition: 0.3s;
			// background: $black;
			background: $white;
			@media (min-width: $medium-up) {
				background: $white;
				// box-shadow: 0 0 4px rgba(0,0,0,0.4);
			}
		}
		.bar2{
		}
		.bar3{
			// width: 16px;
		}
	}
	&.menu-icon-thick{
		.bars{
			.bar1,
			.bar2,
			.bar3{
				height: 4px;
				border-radius: 4px;
			}
		}
	}
	&.menu-icon-random{
		.bars{
			.bar1{
				width: 20px;
			}
			.bar2{
			}
			.bar3{
				width: 12px;
			}
		}
	}
	&.menu-icon-dot{
		.bars{
			width: 6px;
			margin-top: -6px;
			.bar1,
			.bar2,
			.bar3{
				height: 6px;
				width: 100%;
				background: $white;
				margin-bottom: 4px;
				border-radius: 20px;
			}
			.bar2{
			}
			.bar3{
			}
		}
	}
	&.menu-icon-line{
		border: none;
		height: 20px;
		width: 32px;
		padding-bottom: 16px;
		.bars{
			margin-top: 6px;
			margin-right: 0;
			width: 32px;
			.bar1,
			.bar2,
			.bar3{
				width: 100%;
			}
			.bar1{
			}
			.bar3{
				opacity: 0;
			}
			.bar2{
				visibility: hidden;
			}
		}
	}
	&.menu-visible{
		.text{
			&.show-menu-visible{
				visibility: visible;
				opacity: 1;
			}
			&.hide-menu-visible{
				visibility: hidden;
				opacity: 0;
			}
		}
		.bars{
			width: 24px;
			margin-top: 0px;
			.bar1,
			.bar2,
			.bar3{
				height: 2px;
				width: 100%;
				margin-bottom: 4px;
				border-radius: 0;
			}
			.bar1{
				transform: translateY(6px) rotate(45deg);
				transform-origin: center;
				width: 24px;
			}
			.bar3{
				transform: translateY(-6px) rotate(-45deg);
				transform-origin: center;
				width: 24px;
				opacity: 1;
			}
			.bar2{
				width: 0px;
			}
			
		}
		&.menu-icon-twobar{
			.bars{
				margin-top: 0;
				margin-right: 0;
			}
		}
	}
}
