#fp-nav{
	@media screen and (max-width: 1024px) {
		visibility: hidden;
	}
}
#fp-nav.content-white{
    color: $white;
}
#fp-nav.content-black{
    color: $black;
}
// Dot navigation at right
#fp-nav.right{
    right: 18px;
    margin-right: 0px;
	position: fixed;
	a{
		color: currentColor;
	}
}
#fp-nav ul li, .fp-slidesNav ul li{
	margin: 6px 0;
}
#fp-nav ul li a span, .fp-slidesNav ul li a span{
	width: 4px;
	height: 4px;
	border-radius: 40px;
	background: currentColor;
	opacity: 0.2;
	transition: 0.3s;
}

#fp-nav ul li a.active span, 
#fp-nav ul li:hover a.active span, 
.fp-slidesNav ul li a.active span, 
.fp-slidesNav ul li:hover a.active span,

#fp-nav ul li:hover a span, .fp-slidesNav ul li:hover a span{
	width: 12px;
	height: 12px;
	border-radius: 40px;
	margin: -6px 0 0 -6px;
	background: currentColor;
	opacity: 1;
}