// section home
.section-home{
    min-height: 640px;
    // min-height: 90vh;
    min-height: 100vh;
    .section-wrapper{
        width: 100%;
        // max-width: 800px;
        text-align: center;
        // padding-left: 16px;
        // padding-right: 16px;
        // @media (min-width: $medium-up) {
        //     padding-left: 0;
        //     padding-right: 0;
        // }
        &.twoside{
            text-align: left;
            max-width: 1020px;
            @media (min-width: $xxlarge-up) {
                max-width: 1200px;
            }
        }
        .fit-screen-sm{
            min-height: 512px;
            @media (min-width: $medium-up) {
                min-height: auto;
            }
        }
        &.padding-top{
            padding-top: 160px;
        }
    }
    .btns-action{
        margin-bottom: -8px;
    }
    .home-title{
        font-size: 4rem;
        line-height: 1;
        font-weight: bold;
        margin-bottom: 0.5rem;
        @media (min-width: $large-up) {
            font-size: 4.5rem;
        }
    }
    .section-content{
        // height: 100%;
        .bordered{
            border-bottom: 2px solid currentColor;
        }
        .title-desc{
            margin-bottom: 1.5rem;
        }
        .illustr{
            img{
                width: 100%;
                &.portrait{
                    max-height: 400px;
                    width: auto;
                    @media (min-width: $medium-up) {
                        max-height: 66vh;
                        width: auto;
                    }
                }
            }
        }
        img.logo{
            height: 96px;
            margin: 0.75rem 0;
            max-width: 100%;
            width: auto;
            @media (min-width: $small-up) {
                height: 128px;
            }
            @media (min-width: $medium-up) {
                height: 160px;
            }
        }
        h2{
            // font-family: $condensed;
            // font-size: $text-xxlarge;
            // font-weight: 300;
            // &.big{
            //     font-size: $text-xxxxlarge;
            //     font-weight: bold;
            //     line-height: 1;
            // }
        }
        h4{
            // font-family: $sans;
            // font-size: $text-size;
            // font-weight: normal;
            // strong{
            //     color: $primary;
            // }
        }
        h3{
            // font-family: $sans;
            // font-size: $text-large;
            // font-weight: 300;
        }
    }
}

.btns-bordered{
    border: 1px solid currentColor;
    border-left: none;
    border-right: none;
    .btn{
        margin: 0 8px;
    }
}

.section-home{
    .section-content{
        position: relative;
    }
    .text-bg-wrapper{
        z-index: -1;
        position: absolute; 
        width: 100%;
        left : 50%;
        top: 50%;
        transform: translateY(-50%) translateX(-50%);
        &.right{
            left: auto;
            right: 0;
            transform: translateY(-50%);
        }
    }
    .col-wrapper{
        position: relative;
    }
    .big-text{
        font-family: $geo;
        font-size: 16rem;
        font-weight: bold;
        line-height: 1;
        margin-bottom: -0.12em;
        // bg
        // background-image: $gradient-primary;
        // background-size: cover;
        // -webkit-background-clip: text;
        // background-clip: text;
        // -webkit-text-fill-color: transparent;
        // text-fill-color: transparent;
    }

    .image-bg-wrapper{
        position: absolute;
        z-index: -1;
        width: 100%;
        left : 33%;
        top: 50%;
        max-width: 640px;
        transform: translateY(-50%);
        @media (min-width: $large-up) {
            left : 50%;
            transform: translateY(-50%) translateX(-50%);
        }
        .col-wrapper{
            width: 100%;
        }
        img{
            width: 100%;
            // max-width: 100%;
        }
        
        .img{
            width: 100%;
            height: 300px;
            // height: 70vh;
            @media (min-width: $large-up) {
                height: 70vh;
            }
        }
    }
}

.section-home.section-center{
    .home-title{
        font-size: 4rem;
        @media (min-width: $large-up) {
            font-size: 6rem;
        }
    }
    .home-btns{
        .btn-line.long-line{
            padding: 0 16px;
            .text{
                transform: none;
            }
            &::after,
            &::before{
                left: 50%;
                top: 100%;
                border: none;
                border-left: 2px solid currentColor;
                height: 80px;
                width: 2px;
                margin-left: -1px;
                margin-top: 12px;
                transform-origin: bottom;
            }
            &:active,
            &:focus,
            &:hover{
                &::after,
                &::before{
                    left: 50%;
                    top: 100%;
                    border: none;
                    border-left: 2px solid currentColor;
                    height: 40px;
                    width: 2px;
                    margin-left: -1px;
                }
                .text{
                    transform: none;
                }
            }
        }
    }
}