// scroll down
.scrolldown{
	position: absolute;
    bottom: 0;
	top: auto;
	left: auto;
	// right: 48px;
    // margin-bottom: 64px;
	right: 56px;
    margin-bottom: 56px - 2px;
	font-family: $sans;
	z-index: 2;
	background: transparent;
	display: none;
    &.content-white{
        color: $white;
    }
    &.content-black{
        color: $black;
    }
	@media (min-width:$large-up){
		display: block;
	}
	@media (max-height: 480px) {
		display: none;
	}
	transform: rotate(90deg);
	transform-origin: 100%;
	a{
		margin-left: 0;
		position: relative;
		display: block;
		@include text-cap-subtitle;
		font-size: 1.125rem;
		line-height: 1;
		transition: 0.3s;
		background: transparent;
		border: none;
		padding-bottom: 2px;
		padding-right: 32px + 16px;
		color: currentColor;
        .txt{
            position: relative;
            min-width: 100px;
			text-align: center;
			opacity: 0.5;
			transition: 0.3s;
        }
		&:after{
			position: absolute;
			content: "";
			height: 2px;
			width: 32px;
			right: 0px;
			top: 0.4em;
			background: currentColor;
		}
		&:hover{
			color: currentColor;
			.txt{
				opacity: 1;
			}
		}
	}
	
}

.no-footer{
	.scrolldown{
		display: none !important;
	}
}
// animation
.section{
	.scrolldown{
		transition: 0.6s;
		// opacity: 0;
		// visibility: hidden;
	}
}
.section.active{
	.scrolldown{
		opacity: 1;
		visibility: visible;
	}
}

.section-footer{
	 // brand logo
	 .navbar-brand {
        display: flex;
        flex-direction: row;
        padding: 0;
        color: currentColor;
        margin-bottom: 8px;
        .logo {
            img {
                height: 40px;
                width: auto;
                @media (min-width: $medium-up) {
                    height: 56px;
                }
            }
        }
        .text {
            display: flex;
            justify-content: center;
            flex-direction: column;
            color: currentColor;
            font-size: $text-size;
            margin-left: 16px;
            margin-right: 8px;
            .line {
                display: block;
                font-family: $geo;
                font-size: 1.25rem;
                &.sub {
                    font-family: $sans;
                    font-size: $text-small;
                    opacity: 0.5;
                }
            }
        }
    }
}