// section list
.section-list{
    .item{
        margin-top: 40px;
        margin-bottom: 40px;
        &:first-child{
            margin-bottom: 0;
        }
        &:last-child{
            margin-bottom: 0;
        }
        > .order-md-1{
            // padding-right: 40px;
            @media (min-width: $large-up) {
                padding-right: 40px;
            }
        }
        > .order-md-2{
            // padding-left: 40px;
            @media (min-width: $large-up) {
                padding-left: 40px;
            }
        }
    }
}

.service-list{
    display: flex;
    flex-wrap: wrap;
    @media (min-width: $large-up) {
        margin: 0.75rem -0.75rem;
    }
}
.product-list{
    display: flex;
    flex-wrap: wrap;
    @media (min-width: $large-up) {
        margin: 0.75rem -0.75rem;
    }
    .item{
        padding: 0.75rem;
    }
}
.lines-list{
    display: flex;
    flex-wrap: wrap;
    margin-top: 32px;
    margin-bottom: 32px;
    @media (min-width: $large-up) {
        margin: 0.75rem 0;
        margin-top: 96px;
        margin-bottom: 96px;
    }
    .item{
        margin: 0.75rem 0;
    }
}

.post-list{
    display: flex;
    flex-wrap: wrap;
    margin-left: -8px;
    margin-right: -8px;
    margin-top: 32px;
    margin-bottom: 32px;
    @media (min-width: $large-up) {
        margin: 0.75rem -0.75rem;
        margin-top: 96px;
        margin-bottom: 96px;
    }
    .item{
        padding: 0.75rem;
    }
}


