
@mixin fullsize{
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
@mixin fullsize-pos{
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}
@mixin pos-size($margin: 0){
	position: absolute;
	content: "";
	top: $margin;
	left: $margin;
	bottom: $margin;
	right: $margin;
}