// default page layout for .page-main and body
.page-main{
    min-height: 100%;
    display: flex;
    flex-direction: column;
    &.fullpage-container{
        display: block;
    }
}

.body-page{
    background-color: $black;
    color: $white;
}
.body-item{
    background-color: $black;
    color: $white;
}