<!doctype html>
<!--
Website By Miradontsoa / MiVFX
http://twitter.com/miradontsoa
http://miradontsoa.com
-->

<html class="no-js" lang="en">

<head>

  <!doctype html>

  <html class="no-js" lang="en">

  <head>

    <meta http-equiv="content-type" content="text/html; charset=UTF-8">

    <!-- Page Title Here -->
    <title>Agenci - Portfolio demo page</title>

    <!-- Meta -->
    <!-- Page Description Here -->
    <meta name="description" content="A beautiful and creative portfolio template. It is mobile friend (responsive) and comes with smooth animations">

    <!-- Disable screen scaling-->
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1, user-scalable=0">

    <!-- Place favicon.ico and apple-touch-icon(s) in the root directory -->
    <!-- Web fonts and Web Icons -->
    <link rel="stylesheet" href="./fonts/opensans/stylesheet.css">
    <link rel="stylesheet" href="./fonts/montserrat/stylesheet.css">

    <!-- Uncomment below to load individualy vendor CSS -->
    <link rel="stylesheet" href="./css/bootstrap.min.css">

    <!-- Main CSS files -->
    <link rel="stylesheet" href="./css/demo.css">


    <!-- alt layout -->
    <!-- <link rel="stylesheet" href="./css/style-color5.css"> -->
  </head>
  <!-- add alt layout here -->
  <script src="./js/vendor/modernizr-2.7.1.min.js"></script>
</head>

<body id="menu" class="body-page body-demo">

  <header class="page-header-demo">
    <a class="btn btn-outline" href="https://themeforest.net/user/mivfx">Buy Now</a>
  </header>


  <!-- BEGIN OF page main content -->
  <main class="demo-main" id="mainpage">


    <div class="section section-list-items">

      <!-- Begin of section wrapper -->
      <div class="section-wrapper with-margin">
        <!-- content -->
        <div class="section-content anim">
          <div class="section-content-header">
            <div class="title-desc text-center">
              <h2 class="display-title">Agenci Portfolio</h2>
              <p>Hi there, here is the demo page of this template. Feel free to explore.</p>
            </div>
          </div>

        </div>

      </div>
      <!-- End of section wrapper -->
    </div>
    <div class="section section-list-items">

      <!-- Begin of section wrapper -->
      <div class="section-wrapper with-margin">
        <!-- content -->
        <div class="section-content anim">
          <div class="section-content-header">
            <div class="title-desc text-center">
              <h2>Style</h2>
            </div>
          </div>

          <!-- item list -->
          <div class="list-items row anim-list">
            <div class="item col-12 col-lg-4">
              <div class="media media-item">
                <a href="index.html">
                  <div class="media-image">
                    <img class="img" src="demopage/style1.jpg" alt="Image">
                  </div>
                  <div class="media-body">
                    <h4 class="">Style 1</h4>
                  </div>
                </a>
              </div>
            </div>
            <div class="item col-12 col-lg-4">
              <div class="media media-item">
                <a href="index-style-1.html">
                  <div class="media-image">
                    <img class="img" src="demopage/style2.jpg" alt="Image">
                  </div>
                  <div class="media-body">
                    <h4 class="">Style 2</h4>
                  </div>
                </a>
              </div>
            </div>
            <div class="item col-12 col-lg-4">
              <div class="media media-item mb-0">
                <a href="index-style-2.html">
                  <div class="media-image">
                    <img class="img" src="demopage/style3.jpg" alt="Image">
                  </div>
                  <div class="media-body">
                    <h4 class="">Style 3</h4>
                  </div>
                </a>
              </div>
            </div>
          </div>
          <!-- end of item list -->
        </div>

      </div>
      <!-- End of section wrapper -->
    </div>
    <div class="section section-list-items">

      <!-- Begin of section wrapper -->
      <div class="section-wrapper with-margin">
        <!-- content -->
        <div class="section-content anim">
          <div class="section-content-header">
            <div class="title-desc text-center">
              <h2>Scrolling Behavior</h2>
            </div>
          </div>

          <!-- item list -->
          <div class="list-items row anim-list justify-content-center">
            <div class="item col-12 col-lg-4">
              <div class="media media-item">
                <a href="index-fixed.html">
                  <div class="media-image">
                    <img class="img" src="demopage/fixed.jpg" alt="Image">
                  </div>
                  <div class="media-body">
                    <h4 class="">Fixed background</h4>
                  </div>
                </a>
              </div>
            </div>
            <div class="item col-12 col-lg-4">
              <div class="media media-item">
                <a href="index-fullscreen.html">
                  <div class="media-image">
                    <img class="img" src="demopage/default.jpg" alt="Image">
                  </div>
                  <div class="media-body">
                    <h4 class="">Fullpage scrolling effect</h4>
                  </div>
                </a>
              </div>
            </div>
            <div class="item col-12 col-lg-4">
              <div class="media media-item">
                <a href="index-home-2.html">
                  <div class="media-image">
                    <img class="img" src="demopage/home2.jpg" alt="Image">
                  </div>
                  <div class="media-body">
                    <h4 class="">Normal Scroll</h4>
                  </div>
                </a>
              </div>
            </div>
          </div>
          <!-- end of item list -->
        </div>

      </div>
      <!-- End of section wrapper -->
    </div>
    <div class="section section-list-items">

      <!-- Begin of section wrapper -->
      <div class="section-wrapper with-margin">
        <!-- content -->
        <div class="section-content anim">
          <div class="section-content-header">
            <div class="title-desc text-center">
              <h2>Background Cover</h2>
            </div>
          </div>

          <!-- item list -->
          <div class="list-items row anim-list">
            <div class="item col-12 col-lg-4">
              <div class="media media-item">
                <a href="index-particle.html">
                  <div class="media-image">
                    <img class="img" src="demopage/particle.jpg" alt="Image">
                  </div>
                  <div class="media-body">
                    <h4 class="">Particles</h4>
                  </div>
                </a>
              </div>
            </div>
            <div class="item col-12 col-lg-4">
              <div class="media media-item">
                <a href="index-video.html">
                  <div class="media-image">
                    <img class="img" src="demopage/video.jpg" alt="Image">
                  </div>
                  <div class="media-body">
                    <h4 class="">Video</h4>
                  </div>
                </a>
              </div>
            </div>
            <div class="item col-12 col-lg-4">
              <div class="media media-item mb-0">
                <a href="index-slideshow.html">
                  <div class="media-image">
                    <img class="img" src="demopage/slideshow.jpg" alt="Image">
                  </div>
                  <div class="media-body">
                    <h4 class="">Slideshow</h4>
                  </div>
                </a>
              </div>
            </div>
          </div>
          <!-- end of item list -->
        </div>

      </div>
      <!-- End of section wrapper -->
    </div>
  </main>
  <!-- END OF page main content -->

</body>

</html>