// input and forms
@import 'form/form-container-signup';

@import 'form/form-control-line';
@import 'form/form-control-outline';
@import 'form/form-control-full';

// form container
.form-container{
  position: relative;
}
.form-card-primary{
    
}
textarea{
  min-height: 96px;
}

// inputs / .form-control...
.form-control{
  &.shadow{
      box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  }
  &.border{
      border: 1px solid currentColor !important;
  }
}
// error label
.form-group{
  position: relative;
  margin-bottom: 1rem;
  label, .label{
    margin-bottom: 0.5rem;
  }

  label.error{
    position: absolute;
    font-family: $sans;
    color: $white;
    font-size: 12px;
    top: 4px;
    bottom: auto;
    right: 0;
    text-align: right;
    padding-right: 8px;
    width: auto;
    z-index: -1;
  }
}
.form-group.mb-0{
    margin-bottom: 0;
}
.form-text-feedback{
  position: relative;
  font-size: 1rem;
  height: 1.5em;
  text-overflow: ellipsis;
  overflow: hidden;
  transition: 0.15s;
  // margin-top: -2rem;
  // margin-left: 1rem;
  &.invisible{
    height: 0;
  }
}

input[type=text],
input[type=password],
input[type=email]{
    width: 100%;
    font-size: $text-size;
    max-width: 320px;
    min-height: 48px;
    background: transparent;
    color: currentColor;
    border: none;
    border-bottom: 2px solid currentColor;
    border-radius: 0;
    box-shadow: none;
    
    &:focus{
        color: inherit;
        background: rgba($medium-gray, 0.17);
        // border: 2px solid currentColor;
        box-shadow: none;
        outline: none !important;
    }
    &.input-full{
      width: 100%;
      max-width: 640px;
    }
}

.gone{
  transition: 0.3s;
  opacity: 0;
  visibility: hidden;
}

